:root {
    --fast: 0.3s;
}
body * {
    box-sizing: border-box;
    transition: var(--fast);
}
body {
    font-family: 'Roboto', sans-serif;
}
body.start {
    background-color: #99493b;
}
body.town {
    background-color: #d7be95;
}
body.store {
    background-color: #8a627a;
}
body.cave {
    background-color: #3e525d;
}
body.dragon {
    background-color: #673b32;
}
body.lose {
    background-color: #c0c3a4;
}
body.win {
    background-color: #000000;
}
body.easter {
    background-color: #7f8b57;
}
#game {
    max-width: 70vw;
    margin: 0 auto;
    margin: 100px auto 0 auto;
    padding: 40px;
    border-radius: 10px;
}
body.start #game {
    background-color: #7c1602;
}
body.town #game {
    background-color: #ce9162;
}
body.store #game {
    background-color: #6a374d;
} 
body.cave #game {
    background-color: #273945;
}
body.dragon #game {
    background-color: #652722;
}
body.lose #game {
    background-color: #545347;
}
body.win #game {
    background-color: #5a5f5bd8;
}
body.easter #game {
    background-color: #4a5439;
}
body.start #game h1,
body.start #game button,
body.start #game span,
body.start #game #text,
body.dragon #game h1,
body.dragon #game button,
body.dragon #game span,
body.dragon #game #text {
    color: #ffffff;
}
body.town #game h1,
body.town #game button,
body.town #game span,
body.town #game #text {
    color: #64290d;
}
body.store #game h1,
body.store #game button,
body.store #game span,
body.store #game #text {
    color: #deb6e6;
}
body.cave #game h1,
body.cave #game button,
body.cave #game span,
body.cave #game #text {
    color: #000000;
}
body.lose #game h1,
body.lose #game button,
body.lose #game span,
body.lose #game #text {
    color: #ffffd1;
}
body.easter #game h1,
body.easter #game button,
body.easter #game span,
body.easter #game #text {
    color: #eadc8a;
}
#title {
    text-align: center;
    margin-bottom: 20px;
}
#title h1 {
    font-size: 40px;
    margin: 0;
}
#stats {
    text-align: center;
    margin-bottom: 20px;
}
#stats span {
    font-size: 20px;
}
#stats span span {
    margin-right: 10px;
}
#stats span:last-child span {
    margin-right: 0;
}
#controls {
    width: 100%;
}
#controls button {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    text-decoration: underline;
    border-radius: 3px;
    padding: 5px;
    padding-left: 10px;
}
#controls button.none {
    display: none;
}
#controls button:hover{
    text-decoration: none;
}
body.start #controls button:hover {
    color: #ffffff;
    background-color: #ff3e3e;
}
body.town #controls button:hover {
    background-color: #fcc884;
}
body.store #controls button:hover {
    background-color: #9d78ac;
    color: #4d2b3a;
}
body.cave #controls button:hover {
    background-color: #67818a;
}
body.dragon #controls button:hover {
    background-color: #914f3d;
}
body.lose #controls button:hover {
    background-color: #45473c;
    color:#ffffd1;
}
body.win #controls button:hover {
    background-color: #3f4140;
    color: #202020;
}
body.easter #controls button:hover {
    background-color: #96a063;
    color: #263123;
}
body.lose #controls,
body.win #controls{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
body.lose #controls button,
body.win #controls button{
    text-align: center;
    width: fit-content;
    padding: 20px;
    font-size: 28px;
    text-decoration: none;
    background-color: #bdbc9d;
    color: #545347;
    margin: auto;
}
body.win #controls button {
    background-color: #202020;
    color: #6d6e6d;
}
#controls button:last-child {
    margin-right: 0;
}
#monsterStats {
    position: absolute;
    background-color: #000000a6;
    z-index: 1;
    top: 0;
    padding: 10px;
    width: 100%;
}
#monsterStats span {
    color: #ffffff !important;
}
#monsterStats span:first-child{
    margin-right: 20px;
}
#monsterStats.off {
    opacity: 0;
}

#text {
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    line-height: 1.5em;
}
body.start #text {
    background-color: #611203;
}
body.town #text {
    background-color: #c1693a;
}
body.store #text {
    background-color: #4d2b3a;
}
body.cave #text {
    background-color: #1e2a31;
}
body.dragon #text {
    background-color: #341514;
}
body.lose #text {
    background-color: #3e3228;
}
body.win #text {
    background-color: rgba(58, 58, 58, 0.719);
}
body.easter #text {
    background-color: #263123;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
}
#image-wrapper {
    width: calc(50% - 5px);
    height: 50vw;
    max-height: 60vh;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
body #image-wrapper .game-images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
body.start #image-wrapper .game-images {
    background-image: url('images/start.jpg');
}
body.town #image-wrapper .game-images {
    background-image: url('images/town.jpg');
}
body.store #image-wrapper .game-images {
    background-image: url('images/store.jpg');
}
body.cave #image-wrapper .game-images {
    background-image: url('images/cave.jpg');
}
body.slime #image-wrapper .game-images {
    background-image: url('images/slime.jpg');
}
body.goblin #image-wrapper .game-images {
    background-image: url('images/goblin.jpg');
}
body.dragon #image-wrapper .game-images {
    background-image: url('images/dragon.jpg');
}
body.lose #image-wrapper .game-images {
    background-image: url('images/lose.jpg');
}
body.win #image-wrapper .game-images {
    background-image: url('images/win.jpg');
}
body.easter #image-wrapper .game-images {
    background-image: url('images/easter.jpg');
}
#text-wrapper {
    width: calc(50% - 5px);
}

@media screen and (max-width: 1280px) {
    #game {
        max-width: 100%;
        margin: 100px 20px;
    }
}

@media screen and (max-width: 768px) {
    #game {
        margin-top: 30px;
    }
    .content-wrapper {
        flex-direction: column;
    }
    #image-wrapper {
        width: 100%;
        height: 40vh;
        margin-bottom: 20px;
    }
    #text-wrapper {
        width: 100%;
    }
    #controls button {
        padding-left: 5px;
    }
    #controls button:hover {
        background-color: transparent !important;
        text-decoration: underline;
    }
    body.store #controls button:hover {
        color: #deb6e6;
    }
    body.easter #controls button:hover {
        color: #eadc8a;
    }
}

@media screen and (max-width: 480px) {
    #game {
        padding: 20px;
    }
    #title {
        margin-bottom: 10px;
    }
    #title h1 {
        font-size: 28px;
    }
    #stats span {
        font-size: 14px;
    }
    #controls button {
        font-size: 14px;
    }
    #text {
        padding: 10px;
        margin-bottom: 20px;
    }
    #image-wrapper {
        height: 30vh;
    }
}