:root {
    --fast: 0.3s;
}
body * {
    box-sizing: border-box;
    transition: var(--fast);
}
body {
    font-family: 'Roboto', sans-serif;
}
body.start {
    background-color: #c76554;
}
#game {
    max-width: 70vw;
    margin: 0 auto;
    margin: 100px auto 0 auto;
    padding: 40px;
    border-radius: 10px;
}
body.start #game {
    background-color: #9b1d04;
}
body.start #game h1,
body.start #game p,
body.start #game button,
body.start #game span,
body.start #game input {
    color: #ffffff;
}
#title {
    text-align: center;
    margin-bottom: 20px;
}
#title h1 {
    font-size: 40px;
    margin: 0;
}
#stats {
    text-align: center;
    margin-bottom: 20px;
}
#stats span {
    font-size: 20px;
}
#stats span span {
    margin-right: 10px;
}
#stats span:last-child span {
    margin-right: 0;
}
#controls {
    width: 100%;
}
#controls button {
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    text-decoration: underline;
    border-radius: 3px;
    padding: 5px;
}
#controls button:hover {
    background-color: #ca7c3b;
    border-color: #ca7c3b;
    text-decoration: none;
}
#controls button:last-child {
    margin-right: 0;
}
#monsterStats {
    display: none;
}
#text {
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    color: #ffffff;
    margin-bottom: 30px;
}
body.start #text {
    background-color: #611203;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;

}
#image-wrapper {
    width: calc(50% - 5px);
    height: 50vw;
    max-height: 60vh;
    border-radius: 5px;
    overflow: hidden;
}
body.start #image-wrapper .game-images {
    background-image: url('images/start.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#text-wrapper {
    width: calc(50% - 5px);
}